#login{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width:400px;
    height: 260px;
    padding: 13px;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    z-index: 1001;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    display: none;
}

#register_css{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width:400px;
    height: 300px;
    padding: 13px;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    z-index: 1001;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    display: none;
}


form p > *{
    display: inline-block;
    vertical-align: middle;
}

#s_h1{
    font-family: 宋体;
    font-size: 20px;
    color:rgb(20, 111, 172);

}

.text{
    font-family: 宋体;
    font-size: 18px;
    font-weight: bold;
    background-color: #3CD8FF;
    color:white;

    width:65px;
    height:28px;
    line-height: 28px;
    text-align: center;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.fram{
    width:278px;
    height:18px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    border: 1px solid rgb(66, 61, 61);

    padding: 5px 5px;
    
    
    
    
    
    
}

#btn{
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    font-family: 宋体;
    font-size: 18px;
    font-weight: bold;

    
    color:white;
    background-color:  #3BD9FF;
    border-radius: 6px;
    border: 0;

    float: center;

}

button:hover{
    
    cursor: pointer;
}

.lo_c_register{
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;
}

#lo_forgetkey{
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: relative;
    float: left;
    top: 5px;
    
}

a:hover{
    background-color: rgb(111, 236, 230);
    text-decoration: none;

    border-radius: 4px;
}

#log_control{
    padding: 0 28px;
}

#empty_usename{
    font-family: 宋体;
    font-size: 10px;

    position: relative;
    color: red;
    float: left;

    top:4px;
}

